/* FONT */
@font-face {
    font-family: 'montserratregular';
    src: url('../fonts/montserratregular.eot');
    src: url('../fonts/montserratregular.eot') format('embedded-opentype'),
         url('../fonts/montserratregular.woff2') format('woff2'),
         url('../fonts/montserratregular.woff') format('woff'),
         url('../fonts/montserratregular.ttf') format('truetype'),
         url('../fonts/montserratregular.svg#stag-bold') format('svg');
    font-weight: 'normal';
  	font-style: 'normal';
}

/* CABECERA */
#cabecera-principal {
  	width: 100%;
  	height: 150px;
  	background: #b01e31 url(../images/fondo-cabecera.jpg);
  	position: fixed;
  	z-index: 99;
  	background-size: 100%;
}
#cabecera-principal .logo-principal {
  	background-color: #b01e31;
  	height: 150px;
}
#cabecera-principal .logo-principal a {
  	display: block;
  	margin: 0 auto;
  	text-align: center;
  	margin-top: 30px;
}
#cabecera-principal .logo-principal img {
	max-width: 100%;
}
.navbar-brand {
	width: 100%;
}
.navbar-brand>img {
    display: inline-block;
}

/* NAVBAR */
@media (min-width: 768px) {
	.navbar-default{
    	background-image: none !important;
    	background-color: transparent !important;
    	border-color: transparent !important;
  	}
  	.navbar-default .navbar-nav>li>a {
	    color: #fff;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
		background-image: none !important;
    	background-color: transparent !important;
    	border-color: transparent !important;
	}
	.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
		color: #f6e39e !important;
	}
	.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
		color: #f6e39e !important;
	}
	.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
		color: #f6e39e !important;
	}
	.navbar-nav>li>.dropdown-menu {
		border-top-left-radius: 4px;
    	border-top-right-radius: 4px;
	}
	.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
		background-image: none !important;
    	background-color: transparent !important;
    	border-color: transparent !important;
    	color: #f6e39e;
	}
	.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
		background-image: none !important;
    	background-color: transparent !important;
    	border-color: transparent !important;
    	color: #f6e39e !important;
	}

  	.menu-principal {
  		margin-top: 50px;
  		text-align: center;
	}
	.menu-principal a {
		font-family: "montserratregular",Helvetica,Arial,sans-serif;
	  	color: #fff;
	  	font-size: 14px;
	  	text-transform: uppercase;
	}
	.menu-principal li a:hover,
	.menu-principal li a:focus {
	  background-color: transparent;
	  color: #f6e39e;
	}
	.menu-principal .menu-secundario {
	  background-color: rgba(0, 0, 0, 0.7);
	  margin: 0;
	  left: 0;
	}
	.menu-principal .menu-secundario a {
	  color: #fff;
	  padding: 7px 20px;
	  /* text-align: center; */
	  font-weight: 100;
	}

}

/* PERFIL */
.perfil {
	background: #333;
	padding: 15px;
}
.perfil h3 {
	color: #fff;
	font-size: 14px;
}
.perfil p {
	color: #fff;
}
.perfil img {
	border: 4px solid rgba(255, 255, 255, 0.11);
}
h2.name-user {
	font-family: "montserratregular",Helvetica,Arial,sans-serif;
	font-size: 17px;
	color: #65c7c5;
}	

/* BREADCRUMB */
.breadcrumb {
    margin-top: 20px;
}

.select[multiple], select[size] {
    height: 34px;
}

/* GRID */
.grid-view .button-column {
    width: 80px;
}
.grid-view table.items {
    background: white;
    border-collapse: collapse;
    width: 100%;
    border: 0;
}
.grid-view table.items th {
	font-family: "montserratregular",Helvetica,Arial,sans-serif;
	font-size: 14px !important;
	text-align: left;
    background: #fff;
    border-bottom: solid 2px #ddd !important; 
    padding: 8px !important;    
}
.grid-view table.items th a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
.grid-view table.items th a:hover {
    color: #337ab7;
}
.grid-view table.items th, .grid-view table.items td {
    font-size: 0.9em;
    border: 0;
    padding: 8px;
    border-top: 1px solid #ddd;
}
.grid-view table.items tr.odd {
    background: #d9edf7;
}
.grid-view table.items tr.even {
    background: #ffffff;
}
.grid-view table.items tr:last-child {
	border-bottom: solid 2px #ddd; 
}

/* PAGINATION */
.list-view .pager {
	margin-top: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}
.grid-view .pager {
    margin: 10px 0 10px 0;
    text-align: right;
}
ul.yiiPager a:link, ul.yiiPager a:visited {
	padding: 5px 14px;
	font-weight: normal;	
}
ul.yiiPager {
	font-size: 13px;
}
ul.yiiPager .selected a, ul.yiiPager>.selected>a:focus, ul.yiiPager>.selected>a:hover, ul.yiiPager>.selected>span, ul.yiiPager>.selected>span:focus, ul.yiiPager>.selected>span:hover {
    background: #2e6ab1;
    color: #FFFFFF;
    font-weight: bold;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}
/* CONTENIDO */
h1 {
	font-family: "montserratregular",Helvetica,Arial,sans-serif;
	font-size: 20px;
  font-weight: bold;
	color: #b01e31;
}
.page-header {
	margin-top: 20px;
    margin-bottom: 10px;
}
ul.btn-add {
	list-style: none;
	padding-left: 0;
}

.btn-enlace {
    padding: 7px 12px !important;
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  	border-radius: 4px;
  	color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.nav-pills > li + li {
  margin-left: 4px;
}
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #fff;
  background-color: #398439;
  border-color: #255625;
}
div.form {
  margin-top: 15px;
}

